@font-face {
    font-family: "NeueHaasUnica-Bold";
    src: url("/fonts/NeueHaasUnica-Bold.ttf") format("truetype");
}
@font-face {
    font-family: "NeueHaasUnicaPro-Medium";
    src: url("/fonts/NeueHaasUnicaPro-Medium.ttf") format("truetype");
}

@font-face {
    font-family: "InputMonoNarrow-Light";
    src: url("/fonts/InputMonoNarrow-Light.ttf") format("truetype");
    font-style: normal;
}

@font-face {
    font-family: "OffBit-101Bold";
    src: url("/fonts/OffBit-101Bold.ttf") format("truetype");
    font-style: normal;
}

.off {
    font-family: "OffBit-101Bold", sans-serif;
}

.mono {
    font-family: "InputMonoNarrow-Light", sans-serif;
}

.medium-font {
    font-family: "NeueHaasUnicaPro-Medium", sans-serif;
}
